
@model Slider
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider  Detail</h4>

                
                    <img  src="~/img/@Model.ImageUrl" width="200" height="200"/> 
                
            </div>
        </div>
    </div>
    <a asp-controller="slider" asp-action="index" class="btn btn-warning ">BACK</a>
</div>

