@model List<Slider>
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Slider Table</h4>
                  <a class="btn btn-success" asp-area="Adminarea" asp-controller="Slider" asp-action="create">
                      Add Slider
                  </a>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                       
                          <th>Img.</th>
                          <th>Settings</th>
                        
                        </tr>
                      </thead>
                      <tbody>
                               @foreach (var item in Model)
                                {
                                   <tr>
                                         <td>
                                            <img  src="~/img/@item.ImageUrl" />
                                          </td>
                                      
                                      <td>
                                           <a class="btn btn-primary" asp-area="Adminarea" asp-controller="slider" asp-action="update" asp-route-id="@item.Id">
                                                <i class="mdi mdi-console">UPDATE</i>
                                                </a>
                                            <a class="btn btn-danger" asp-area="Adminarea" asp-controller="slider" asp-action="delete" asp-route-id="@item.Id">
                                                <i class="mdi mdi-delete">DELETE</i>
                                                </a>
                                            <a class="btn btn-success" asp-area="Adminarea" asp-controller="slider" asp-action="detail" asp-route-id="@item.Id">
                                                <i class="mdi mdi-details">DETAILS</i>
                                                </a>
                                      </td>
                                      
                                   </tr>
                                }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
        </div>

