
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Adminarea/Views/Shared/_AdminLayout.cshtml";
}
@model Product
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product  Detail</h4>

                @foreach ( var item in Model.Images)
                {
                    <img src="~/img/@item.ImageUrl" width="200" height="200" />
                   
                }
                 
               <div class="container mt-5">
                        <p> Product Name :  @Model.Name</p>
                        <p> Category Name :   @Model.Category.Name</p>
                        <p>  Product Price  @Model.Price</p>
                        <p>  Product Count  @Model.Count</p>
               </div>

            </div>
        </div>
    </div>
    <a asp-controller="product" asp-action="index" class="btn btn-warning ">BACK</a>
</div>

