@model List<Product>
@{
    ViewData["Title"] = "Index";
}

 <!-- PRODUCTS START -->

        <section id="products">
                 <input type="hidden" id="productCount" value="@ViewBag.ProductCount" /> 

            <div class="container">
                <div class="row pt-5">

            <div class="row" id="productlist">

            @*@Html.Partial("_LoadMorePartial",Model); *@
          
                @await Component.InvokeAsync("Product",2)

            </div>
                    
                </div>
                 <div class="row justify-content-center mb-4">
                   <button class="btn btn-success" id="loadMore"> LoadMore...</button>
                </div>
              

            </div>
        </section>

         
        <!-- PRODUCTS END -->

