@model List<BasketVM>
@{
    ViewData["Title"] = "ShowBasket";
    //  double TotalPrice = 0;
    double TotalPrice = Model.Sum(p => p.BasketCount * p.Price);

}
<div class="container">

          <div class="row">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">BasketCount</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                       // TotalPrice += item.BasketCount * item.Price;
                        <tr>
                            <th scope="row">
                                 <img src="~/img/@item.ImageUrl" width="150" height="150"/>
                              </th>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.BasketCount</td>
                            <td>X</td>
                        </tr>
                    }

                </tbody>
            </table>
                                        <div class="container">
                                                         <div class="row" >
                                                           TotalPrice : @TotalPrice
                                                        </div>
                                          </div>
        }
        else
        {
            <a asp-controller="home" asp-action="index">GO TO HOME</a>
        }
    </div>

</div>


