
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Adminarea/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Category</h4>

                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label>RoleName</label>
                        <input name="RoleName" class="form-control" placeholder="roleName">
              
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-controller="role" asp-action="index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial"></partial>
}

