@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Adminarea/Views/Shared/_AdminLayout.cshtml";
}
@model List<IdentityRole>
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Role Table</h4>
          
                    <a class="btn btn-success" asp-area="Adminarea" asp-controller="Role" asp-action="create">
                        Add Role
                    </a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Settings</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            <a class="btn btn-primary" asp-area="Adminarea" asp-controller="user" asp-action="index" asp-route-id="@item.Id">
                                                <i class="mdi mdi-console">ChangeRoleUsers</i>
                                            </a>
                                            <a class="btn btn-danger" asp-area="Adminarea" asp-controller="role" asp-action="delete" asp-route-id="@item.Id">
                                                <i class="mdi mdi-delete">DELETE</i>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
